body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  background: rgb(226, 226, 226);
  font-weight: 300;
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 80%, rgba(0,0,0,0.15) 100%);
  overflow: hidden;
  transform-style: preserve-3d;
}

img{
  position : center;
  width: 1440px;
  height: 770px;
  background-color: transparent;
}



input[type='radio'],
.hide {
  display: none;
}
input[type='radio']:checked + section {
  top: 0;
}
.Scenes {
  width: 100%;
  height: 1000px;
  transform-style: preserve-3d;
  transition: all 500ms;
}
.Scenes section {
  position: absolute;
  top: 100vh;
  width: 100%;
  height: 100vh;
  transition: top 500ms;
  transform-style: preserve-3d;
}
.Scenes section.Seoul {
  background: #009c7a;
}
.Scenes section.Toronto {
  background: #059b2a;
}
.Scenes section.NY {
  background: #a45df5;
}
.Scenes section.HK {
  background: #b80028;
}
.Scenes section h1 {
  margin: 0;
  font-size: 65px;
  transform: translate(0, 40vh);
  text-align: center;
  color: rgb(255, 255, 255);
  transition: transform 500ms;
  transform-style: preserve-3d;
}
.Scenes section label {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
}
.menu {
  display: block;
  position: fixed;
  top: 20px;
  left: 25px;
  z-index: 1000;
  transform: 0deg;
  transition: all 200ms;
  width: 35px;
  height: 4px;
  background: rgba(0,0,0,0.25);
}
.menu::before,
.menu::after {
  content: '';
  display: block;
  position: absolute;
  width: 35px;
  height: 4px;
  background: rgba(0,0,0,0.25);
  transition: all 200ms;
}
.menu::before {
  top: 10px;
}
.menu::after {
  top: 20px;
}
.menu:hover {
  background: rgb(0, 0, 0);
}
.menu:hover::before,
.menu:hover::after {
  background: rgb(0, 0, 0);
}
.menu div,
.menu div label:nth-child(1) {
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  top: -6px;
}
.menu div label:nth-child(2) {
  display: none;
}
#menu:checked + .Scenes {
  transform: scale(0.65) translateY(-18%);
  transition: all 500ms;
  transform-style: preserve-3d;
}
#menu:checked + .Scenes section {
  cursor: pointer;
  overflow: hidden;
  opacity: 1;
  box-shadow: 0 0 40px rgba(0,0,0,0.25);
  transform-style: preserve-3d;
}
#menu:checked + .Scenes section h1 {
  transform: scale(0.5);
  transform-style: preserve-3d;
}
#menu:checked + .Scenes + .menu {
  top: 30px;
  left: 20px;
  transform: rotate(225deg);
  transition: all 200ms;
  transform-origin: center center;
  background: #646464;
}
#menu:checked + .Scenes + .menu::before,
#menu:checked + .Scenes + .menu::after {
  background: #646464;
  transition: all 200ms;
}
#menu:checked + .Scenes + .menu::before {
  opacity: 0;
  transition: opacity 0s;
}
#menu:checked + .Scenes + .menu::after {
  margin-top: -20px;
  transform: rotate(90deg);
}
#menu:checked + .Scenes + .menu div label:nth-child(2) {
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  top: -6px;
}
#menu:checked + .Scenes + .menu div label:nth-child(1) {
  display: none;
}
.Scenes section.Seoul {
  z-index: 99;
}
.Scenes section.Toronto {
  z-index: 98;
}
.Scenes section.NY {
  z-index: 97;
}
.Scenes section.HK {
  z-index: 96;
}
#menu:checked + .Scenes section.Seoul {
  top: 192px;
}
#menu:checked + .Scenes section.Seoul:hover {
  top: 188px;
}
#menu:checked + .Scenes section.Toronto {
  top: 132px;
}
#menu:checked + .Scenes section.Toronto:hover {
  top: 128px;
}
#menu:checked + .Scenes section.NY {
  top: 72px;
}
#menu:checked + .Scenes section.NY:hover {
  top: 68px;
}
#menu:checked + .Scenes section.HK {
  top: 12px;
}
#menu:checked + .Scenes section.HK:hover {
  top: 8px;
}

